button {
  border: 1px solid $yellow;
  background: $yellow;
  font-weight: 700;
  font-size: 15px;
  color: $darker-gray;
  text-transform: uppercase;
  padding: 1em 2em;
  @include media($mobile) {
    font-size: $mobile-font-size;
    @include shift(0.5);
  }
}
