* {
  @include fill-parent;
}

form {
  @include outer-container(100%);
  @include margin(2em);
}

fieldset {
  @include pad(1.5em);
  @include margin(1.5em 0 0 0);
  border: none;
}

.formContainer {
  @include outer-container(80%);
  background-color: $white;
}

.campaignDescription {
  @include outer-container(60%);
  background-color: #F9F9F9;
  @include pad(3em);
}

.form {
  @include span-columns(10);
  @include shift(1);
}

.fields {
  @include shift(0.5);
  @include span-columns(10);
}

.instruction {
  @include span-columns(8);
}
