form {
  @include outer-container(100%);
  @include margin(2em);
}

fieldset {
  @include pad(1.5em 0 1.5em 0);
  @include margin(0 1em 0 0);
  border: none;
}

.address {
  display: flex;
  width: 100%;
}
.form-group.row.field-entry {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 10px;

  &.city {
    display: inline-flex;
    flex: 2;
  }

  &.state, &.postCode {
    display: inline-flex;
    flex: 1;
    label {
      min-width: auto;
      white-space: nowrap;
      padding-left: 1em;
    }
  }
}

.compose-letter-fields {
  background: #EEE;
  padding: 10px;
  border-radius: 3px
}

label {
  padding-right: 0.5em;
  min-width: 80px;
  flex: 1;
  white-space: nowrap;
}

input, textarea {
  flex-grow: 12;
  min-height: 40px;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $medium-gray;
  padding: 0.5em;
}

textarea#body {
  min-height: 300px;
}

legend {
  @include fill-parent();
}

.formContainer {
  @include outer-container(80%);
  background-color: $white;
}

.formHeader {
  background-color: $dark-blue;
}

.arrowDown{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $dark-blue;
  @include shift(1.5);
}

.formTitle {
  font-weight: 700;
  font-size: 24px;
  color: $white;
  line-height: 50px;
  display: inline;
  padding: 1em;
}

.campaignDescription {
  @include outer-container(60%);
  background-color: #F9F9F9;
  @include pad(3em);
}

.fields {
  @include fill-parent();
}

.instruction {
  @include span-columns(8);
}

.steps {
  float: left;
  height: 24px;
  @include margin(0 0.5em 0 0);
}
