form {
  @include outer-container(100%);
  @include margin(2em);
}

fieldset {
  @include pad(1.5em 0 1.5em 0);
  @include margin(0 1em 0 0);
  border: none;
}


.form-group.row.field-entry {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 10px;

  &.city {
    display: inline-flex;
    width: 50%;
  }

  &.state, &.postCode {
    display: inline-flex;
    width: 25%;
    label {
      min-width: auto;
      white-space: nowrap;
      padding-left: 1em;
    }
  }
}

.compose-letter-fields {
  background: #EEE;
  padding: 10px;
  border-radius: 3px
}

label {
  padding-right: 0.5em;
  min-width: 80px;
}

input, textarea {
  flex-grow: 12;
  min-height: 40px;
}

textarea#body {
  min-height: 300px;
}

legend {
  @include fill-parent();
}

.formContainer {
  @include outer-container(80%);
  background-color: $white;
}

.formHeader {
  background-color: $dark-blue;
}

.formTitle {
  font-weight: 700;
  font-size: 24px;
  color: $white;
  line-height: 50px;
  display: inline;
  padding: 1em;
}

.campaignDescription {
  @include outer-container(60%);
  background-color: #F9F9F9;
  @include pad(3em);
}

.form {
  @include span-columns(10);
  @include shift(1);
}

.fields {
  @include fill-parent();
}

.instruction {
  @include span-columns(8);
}

.steps {
  float: left;
  @include margin(0 0.5em 0 0);
}
